<footer id="contact" class="footer">
  <div class="education__container footer__container">
    <div class="footer__logo-n-social">
      <div class="footer__logo">
        <a href="{{ site.url }}">
         <img src="{{ '/assets/img/logo.svg' | absolute_url }}" alt="Merklize">
        </a>
      </div>
      <div>
        <a href="#" class="footer__social-link">
          <img src="{{ 'assets/icons/linkedin.svg' | absolute_url }}" alt="Linkedin">
        </a>
        <a href="#" class="footer__social-link">
          <img src="{{ '/assets/icons/twitter.svg' | absolute_url }}" alt="Twitter">
        </a>
      </div>
    </div>
    <nav class="footer-menu">
      <h3 class="footer-menu__title">HOME</h3>
      <ul class="footer-menu__list">
        <li><a class="footer-menu__item" href="#">CURRENT COURSES</a></li>
        <li><a class="footer-menu__item" href="#">EVENT CALENDAR</a></li>
        <li><a class="footer-menu__item" href="#">CONTACT</a></li>      
      </ul>
    </nav>
    <div class="footer__contacts">
      <p class="footer__contact-text">Lorem ipsum dolor sit amet 0000 Lorem ipsum</p>
      <span class="footer__contact">E-mail: <a class="footer__contact-link" href="mailto:{{ site.e-mail }}">{{ site.e-mail }}</a></span>
      <span class="footer__contact">Phone: <a class="footer__contact-link" href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
    </div>
  </div>
</footer>
