<section class="partners-section">
  <h2 class="h2-title partners-section__title">Our partners</h2>
  <div class="education__container">
    <ul class="partners-section__list">
      <li>
        <a href="#"><img src="{{ '/assets/img/logotype1.png' | absolute_url }}" alt="Logotype Creative"></a>
      </li>
      <li>
        <a href="#"><img src="{{ '/assets/img/logotype2.png' | absolute_url }}" alt="Logotype Creative Learning"></a>
      </li>
      <li>
        <a href="#"><img src="{{ '/assets/img/logotype3.png' | absolute_url }}" alt="Logotype Instagram"></a>
      </li>
      <li>
        <a href="#"><img src="{{ '/assets/img/logotype4.png' | absolute_url }}" alt="Logotype Jeep"></a>
      </li>
      <li>
        <a href="#"><img src="{{ '/assets/img/logotype5.png' | absolute_url }}" alt="Logotype Virgin"></a>
      </li>
    </ul>
  </div>
  <img class="partners-section__img" src="{{ '/assets/img/partners-bg.svg' | absolute_url }}" alt="">
</section>