<section id="registration" class="registration">
  <h2 class="h2-title registration__title">Registration</h2>
  <div class="education__container">
    <div class="registration__wrapper">
      <form class="registration__wrapper-form" action="">
        <h3 class="registration__wrapper-title">Earn special discounts by registring for early access!</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
        <input class="input" type="text" name="name" placeholder="Name">
        <input class="input" type="email" name="email" placeholder="E-mail address">
        <button class="btn registration__btn">Register</button>
      </form>
    </div>
    <img class="registration__img" src="{{ '/assets/img/section-registration-img.png' | absolute_url }}" alt="">
  </div>
</section>