.courses-section {
  line-height: 27px;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 220px;

  &__text {
    padding-top: 12px;
  }
}

.nav-types {
  display: flex;
  justify-content: space-between;
  padding: 50px 74px 92px 74px;
}

.courses-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 59px;
}

.course {
  display: flex;
  margin-bottom: 21px;

  &__img-wrapper {
    display: block;
    position: relative;
    margin-right: 26px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    width: 247px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #E2EFDE;
      opacity: 0.25;
    }
  }

  &__img {
    width: 100%;
    height: 239px;
    object-fit: cover;
  }

  &__content {
    background-color: rgba($color: #E2EFDE, $alpha: .7);
    border-radius: 20px;
    padding: 30px 34px 25px 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title-n-level {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  &__title {
    font-family: 'Quicksand', sans-serif;
    line-height: 57px;
    font-size: 35px;
    color: #0D4A59;
    margin-right: 24px;
  }

  &__level {
    display: block;
    background-color: #0D4A59;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 23px;
  }

  &__teacher {
    color: #258700;
    font-weight: bold;
    margin-right: 50px;
  }

  &__date {
    color: #0D4A59;
  }

  &__date-icon {
    vertical-align: text-bottom;
    margin-right: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 121px;
  }

  &__price {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #0D4A59;
    margin-bottom: 15px;
  }

  &__price-number {
    font-size: 40px;
  }

  &__rating {
    width: 98px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  &__more {
    text-align: right;
  }

  &__btn {
    margin: 0 auto;
  }
}