.section-idea {
  position: relative;

  &__img {
    position: absolute;
    width: 730px;
    top: -120px;
    z-index: -2;
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 251px;
    text-align: justify;
  }

  &__video-wrapper {
    flex-shrink: 0;
    width: 45%;
    margin-right: 65px;
  }

  &__video {
    width: 100%;
    border-radius: 30px;
  }

  &__title {
    font-size: 22px;
    color: #258700;
    margin-bottom: 1em;
    line-height: normal;
  }

  &__text {
    font-size: 20px;
  }
}