.registration {
  margin-bottom: 352px;
  background-image: url('../img/section-registration-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  &__container {
    position: relative;
    padding-bottom: 50px;

  }

  &__title {
    margin-bottom: 48px;
  }

  &__wrapper {
    background-color: rgba($color: #E2EFDE, $alpha: .7);
    border-radius: 20px;
    width: 1090px;
    padding: 89px 308px 38px 68px;
  }

  &__form-title {
    padding-right: 120px;
    color: #0D4A59;
    font-family: 'Quicksand', sans-serif;
    line-height: 57px;
    font-size: 35px;
    margin-bottom: 24px;
  }

  &__form-text {
    text-align: justify;
    margin-bottom: 31px;
  }

  &__input {
    margin-bottom: 12px;
    padding: 16px 34px;
    width: 100%;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #0D4A59;

    &:focus {
      border-color: #0D4A59
    }
  }

  &__btn {
    margin-top: 33px;
    margin-left: auto;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}