.slide {
  position: absolute;
  top: 0;
  visibility: hidden; opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.slide_visible {
  position: static;
  visibility: visible; 
  opacity: 1;
  transition-delay: 0s;
}

.carousel-btns {
  &__btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url('../icons/dot.svg') no-repeat center;
  }

  &__btn_active {
    background-image: url('../icons/dot-active.svg');
  }
}