.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 244px;

  &__wrapper {
    max-width: 520px;
    margin: 0 18px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    background: rgba($color: #3891B3, $alpha: .3);
    color: #fff;
    text-align: center;
    line-height: 62px;
    font-size: 35px;
    text-transform: uppercase;
    padding: 19px 0;
    font-weight: normal;

    &_premium {
      background: rgba($color: #3891B3, $alpha: .5);
    }

    &_packages {
      background: rgba($color: #3891B3, $alpha: .7);
    }
  }

  &__list {
    list-style: none;
    padding: 0 52px;
    margin: 0;
    font-style: normal;
    line-height: 39px;
    font-size: 22px;
    text-align: center;
  }

  &__item {
    border-bottom: 3px solid rgba($color: #3891B3, $alpha: .3);
    padding-bottom: 30px;
    padding-top: 30px;

    &_premium {
      border-color: rgba($color: #0D4A59, $alpha: .5)
    }

    &_packages {
      border-color: rgba($color: #3891B3, $alpha: .7)
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}