.header-left {
  align-items: flex-start;
  padding: 63px 15px 101px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  width: 80%;

  &__content {
    max-width: 440px;
    margin-bottom: 165px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 143px;
  }

  &__title {
    display: inline-block;
    font-family: 'Google Sans', sans-serif;
    line-height: 61px;
    font-size: 53px;
    margin-bottom: .5em;
  }

  &__text {
    padding-right: 10px;
    margin-bottom: 2em;
    opacity: .8;
    line-height: 35px;
    font-size: 20px;
  }

  &__news {
    max-width: 362px;
  }

  &__news-title {
    padding-left: 21px;
    border-left: 4px solid #fff;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 20px;
  }

  &__news-wrapper {
    display: flex;
    align-items: center;
  }

  &__news-text {
    padding-left: 25px;
    opacity: .8;
    font-size: 15px;
    margin: 0;
  }
}