.header-right {
  border-left: 1px solid rgba($color: #fff, $alpha: .5);
  width: 20%;
  flex-shrink: 0;
  height: 100%;
}

.header-elements {
  padding: 70px 65px 41px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgba($color: #fff, $alpha: .5);

  &__language {
    color: #fff;
  }

  &__search {
    margin-left: 54px;
    vertical-align: text-bottom;
  }

  &__social {
    display: flex;
  }

  &__icon {
    width: 18px;
    display: block;
    margin-left: 30px;
  }

  &__icon-img {
    width: 100%;
  }
}

.side-menu {
  list-style: none;
  padding: 58px 140px 0 0;
  margin: 0 0 81px 0;
  font-size: 15px;
  text-align: justify;

  &__item {
    margin-bottom: 41px;
    padding-left: 36px;
  }

  &__item_active {
    border-left: 4px solid #fff;
    padding-left: 32px;
  }

  &__title {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 11px;
  }
}

.header-video {
  width: 100%;
  bottom: -3px;
  position: relative;

  &__item {
    width: 100%;
  }
}