.idea_consulting {
  background: url('../img/idea-section-bg.png') no-repeat center;
  background-size: cover;
  margin-bottom: 152px;

  &__wrapper {
    border-left: 1px solid rgba($color: #fff, $alpha: .5);
    color: #fff;
    padding-top: 72px;
    padding-bottom: 72px;
    font-family: 'Google Sans', sans-serif;
  }

  &__content {
    border-left: 3px solid #fff;
    max-width: 904px;
    padding-left: 81px;

    p {
      line-height: 31px;
      font-size: 22px;
      text-align: justify;
    }
  }

  &__intro-text {
    font-weight: bold;
  }

  &__title {
    line-height: 69px;
    font-size: 60px;
    margin-bottom: 45px;
  }
}