.partners__wrapper {
  border-left: 1px solid rgba($color: #3891B3, $alpha: .5);
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Google Sans', sans-serif;
}

.partners__wrapper > article {
  border-left: 3px solid #3891B3;
  padding-left: 57px;
  padding-right: 83px;
}

.partners__wrapper > article > h2 {
  margin-bottom: 45px;
}

.partners__wrapper > article > p {
  line-height: 31px;
  font-size: 22px;
  text-align: justify;
  color: #2D2D2D;
}

.partners__btn-group {
  display: flex;
}

.partners__btn-group > a:last-child {
  margin-left: 16px;
  color: #3891B3;
  background-color: transparent;
}

.partners__list {
  flex-wrap: wrap;
  width: 911px;
  flex-shrink: 0;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.partners__list-item {
  background-color: #3891B3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 219px;
  width: 291px;
  margin-bottom: 21px;
}

.partners__carousel-btns {
  text-align: center;
}