<header class="header">
  <div class="education__container header__top">
    <div class="header__logo">
      <a href="#">
        <img class="header__logo-img" src="assets/img/logo.svg" alt="Merclize">
      </a>
    </div>
    <nav>
      <ul class="header__nav">
        <li><a class="header__nav-item header__nav-item_active" href="#">CURRENT COURSES</a></li>
        <li><a class="header__nav-item" href="#">EVENT CALENDAR</a></li>
        <li><a class="header__nav-item" href="#">REGISTRATIONS</a></li>
        <li><a class="header__nav-item" href="#">CONTACT</a></li>   
      </ul>
    </nav>
    <div class="header__sign">
      <a href="#" class="header__sign-login">Log in</a>
      <a href="#" class="btn">Register</a>
    </div>
  </div><!-- end header-top -->
</header>
