<header class="header">
  <div class="education__container header__top">
    <div class="header__logo">
      <a href="#">
        <img class="header__logo-img" src="assets/img/logo.svg" alt="Merclize">
      </a>
    </div>
    <nav>
      <ul class="header__nav">
        <li><a class="header__nav-item header__nav-item_active" href="#">CURRENT COURSES</a></li>
        <li><a class="header__nav-item" href="#">EVENT CALENDAR</a></li>
        <li><a class="header__nav-item" href="#">REGISTRATIONS</a></li>
        <li><a class="header__nav-item" href="#">CONTACT</a></li>   
      </ul>
    </nav>
    <div class="header__sign">
      <a href="#" class="header__sign-login">Log in</a>
      <a href="#" class="btn btn_black">Register</a>
    </div>
  </div><!-- end header-top -->
  <div class="education__container header__bottom">
    <div class="header__bottom-text">
      <p class="header__bottom-title">The only source of KNOWLEDGE is experience</p>
      <p class="header__bottom-need">Need consulting ? Or want to learn something new ? We have all you need. Explore now!</p>
      <div class="header__bottom-btn-group">
        <a href="#" class="btn">Consulting</a>
        <a href="#" class="btn btn_black">Education</a>
      </div>
    </div>
    <div class="header__bottom-image">
      <img src="assets/img/header-img.svg" alt="The only source of KNOWLEDGE is experience">
    </div>
  </div>
</header>
