@import 'vendor/normalize';

@import 'base/root',
        'base/fonts',
        'base/reset';

@import 'layouts/container',
        'layouts/header',
        'layouts/footer';

@import 'components/header-nav',
        'components/header-logo.scss',
        'components/header-sign.scss',
        'components/header-bottom.scss',
        'components/footer-menu.scss',
        'components/footer-contact.scss';

// sections
@import 'components/sections/idea.scss',
        'components/sections/courses.scss',
        'components/sections/events.scss',
        'components/sections/registration.scss',
        'components/sections/partners.scss';

@import 'components/button.scss',
        'components/title.scss';