@import 'vendor/normalize';

@import 'base/root',
        'base/fonts',
        'base/reset';

@import 'layouts/container',
        'layouts/header',
        'layouts/footer';

@import 'components/header-nav',
        'components/header-logo.scss',
        'components/header-sign.scss',
        'components/header-bottom.scss',
        'components/footer-menu.scss',
        'components/footer-contact.scss';

@import 'components/button.scss',
        'components/title.scss',
        'components/section.scss';