@import 'vendor/normalize';

@import 'base/root',
        'base/fonts',
        'base/reset';

@import 'layouts/container',
        'layouts/header',
        'layouts/footer',
        'layouts/main-page';

@import 'components/header-nav',
        'components/header-logo.scss',
        'components/header-sign.scss',
        'components/footer-menu.scss',
        'components/footer-contact.scss';

// main
@import 'components/main/circle.scss',
        'components/main/main-right.scss',
        'components/main/main-left.scss',
        'components/main/footer.scss';

// education sections
@import 'components/education/header-top.scss',
        'components/education/header-bottom.scss',
        'components/education/idea.scss',
        'components/education/courses.scss',
        'components/education/events.scss',
        'components/education/registration.scss',
        'components/education/partners.scss';

// consulting sections
@import 'components/consulting/header-right.scss',
        'components/consulting/header-left.scss',
        'components/consulting/network.scss',
        'components/consulting/idea.scss',
        'components/consulting/team.scss',
        'components/consulting/offer.scss',
        'components/consulting/features.scss',
        'components/consulting/subscribe.scss',
        'components/consulting/partners.scss',
        'components/consulting/carousel.scss';

@import 'components/button.scss',
        'components/title.scss';