<section class="features consulting__container">
  <div class="features__item">
    <h3 class="features__title">Lite</h3>
    <ul class="features__list">
      <li>ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li>Whitepaper report including feedback/analysis on structure, content </li>
      <li>Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li>Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
  <div class="features__item">
    <h3 class="features__title features__title_premium">Premium</h3>
    <ul class="features__list features__list_premium">
      <li>ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li>Whitepaper report including feedback/analysis on structure, content </li>
      <li>Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li>Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
  <div class="features__item">
    <h3 class="features__title features__title_packages">Packages</h3>
    <ul class="features__list features__list_packages">
      <li>ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li>Whitepaper report including feedback/analysis on structure, content </li>
      <li>Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li>Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
</section>