<section class="features consulting__container">
  <div class="features__wrapper">
    <h3 class="features__title">Lite</h3>
    <ul class="features__list">
      <li class="features__item">ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li class="features__item">Whitepaper report including feedback/analysis on structure, content </li>
      <li class="features__item">Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li class="features__item">Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
  <div class="features__wrapper">
    <h3 class="features__title features__title_premium">Premium</h3>
    <ul class="features__list">
      <li class="features__item features__item_premium">ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li class="features__item features__item_premium">Whitepaper report including feedback/analysis on structure, content </li>
      <li class="features__item features__item_premium">Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li class="features__item features__item_premium">Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
  <div class="features__wrapper">
    <h3 class="features__title features__title_packages">Packages</h3>
    <ul class="features__list">
      <li class="features__item features__item_packages">ICO Guidebook including ICO overview, preparations, strategies and advice.</li>
      <li class="features__item features__item_packages">Whitepaper report including feedback/analysis on structure, content </li>
      <li class="features__item features__item_packages">Pre-ICO guidance on planning, structuring and execution of the Token</li>
      <li class="features__item features__item_packages">Basic up-front introductions and crisis support during the ICO. </li>
    </ul>
  </div>
</section>