<footer id="contact" class="footer footer_consulting">
  <div class="consulting__container">
    <div class="footer__logo-n-social">
      <div class="footer__logo">
        <a href="{{ site.url }}">
         <img src="{{ '/assets/img/logo-white.svg' | absolute_url }}" alt="Merklize">
        </a>
      </div>
      <div>
        <a href="#" class="footer__social-link">
          <img src="{{ 'assets/icons/linkedin-white.svg' | absolute_url }}" alt="Linkedin">
        </a>
        <a href="#" class="footer__social-link">
          <img src="{{ '/assets/icons/twitter-white.svg' | absolute_url }}" alt="Twitter">
        </a>
      </div>
    </div>
    <nav class="footer__menu">
      <h3>HOME</h3>
      <ul class="footer__menu-list">
        <li><a class="footer__menu-item_consulting" href="#">CURRENT COURSES</a></li>
        <li><a class="footer__menu-item_consulting" href="#">EVENT CALENDAR</a></li>
        <li><a class="footer__menu-item_consulting" href="#">CONTACT</a></li>      
      </ul>
    </nav>
    <div class="footer__contact footer__contact_consulting">
      <p>Lorem ipsum dolor sit amet 0000 Lorem ipsum</p>
      <span>E-mail: <a class="footer__contact-link footer__contact-link_consulting" href="mailto:{{ site.e-mail }}">{{ site.e-mail }}</a></span>
      <span>Phone: <a class="footer__contact-link footer__contact-link_consulting" href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
    </div>
  </div>
</footer>
