<section id="network" class="consulting__container">
  <div class="network__wrapper">
    <article class="network__content">
      <header>
        <h2 class="h2-title_consulting network__title">Network</h2>
        <p class="network__text-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
      </header>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Duis aute irure dolor in reprehenderit.</p>
    </article>
    <div>
      <ul class="network-list slide slide_visible">
        <li class="network-list__item">Investors</li>
        <li class="network-list__item">Accountants & lawyers</li>
        <li class="network-list__item">Crypto & <br> marketing firms</li>
        <li class="network-list__item">OTC <br> contacts</li>
        <li class="network-list__item">Regulatory <br> agencies</li>
        <li class="network-list__item">Exchanges</li>
      </ul>
      <ul class="network-list slide">
        <li class="network-list__item">Investors</li>
        <li class="network-list__item">Accountants & lawyers</li>
        <li class="network-list__item">Crypto & <br> marketing firms</li>
        <li class="network-list__item">OTC <br> contacts</li>
        <li class="network-list__item">Regulatory <br> agencies</li>
        <li class="network-list__item">Exchanges</li>
      </ul>
      <ul class="network-list slide">
        <li class="network-list__item">Other text</li>
        <li class="network-list__item">Accountants & lawyers</li>
        <li class="network-list__item">Crypto & <br> marketing firms</li>
        <li class="network-list__item">OTC <br> contacts</li>
        <li class="network-list__item">Regulatory <br> agencies</li>
        <li class="network-list__item">Exchanges</li>
      </ul>
      <div class="network__carousel-btns">
        <button class="carousel-btns__btn carousel-btns__btn_active"></button>
        <button class="carousel-btns__btn"></button>
        <button class="carousel-btns__btn"></button>
      </div>
    </div>
  </div>
</section>