<section class="consulting__container">
  <div class="network__wrapper">
    <article class="network__wrapper-text">
      <header>
        <h2 class="h2-title_consulting network__wrapper-title">Network</h2>
        <p class="network__wrapper-text-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </header>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit.</p>
    </article>
    <div>
      <ul class="network__list">
        <li class="network__list-item">Investors</li>
        <li class="network__list-item">Accountants & lawyers</li>
        <li class="network__list-item">Crypto & <br> marketing firms</li>
        <li class="network__list-item">OTC <br> contacts</li>
        <li class="network__list-item">Regulatory <br> agencies</li>
        <li class="network__list-item">Exchanges</li>
      </ul>
      <div class="network__carousel-btns">
        <a href="#" class="carousel-btn"></a>
        <a href="#" class="carousel-btn carousel-btn_active"></a>
        <a href="#" class="carousel-btn"></a>
      </div>
    </div>
  </div>
</section>