<section id="partners" class="consulting__container">
  <div class="partners__wrapper">
    <article class="partners__content">
      <h2 class="h2-title_consulting partners__title">Our partners</h2>
      <p class="partners__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
      <div class="partners__btn-group">
        <a href="#" class="btn btn_blue">Exchange</a>
        <a href="#" class="btn btn_blue btn-industry">Industry</a>
      </div>
    </article>
    <div class="partners-carousel">
      <ul class="partners__list slide slide_visible">
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype6.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype8.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype9.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype10.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype11.svg' | absolute_url }}" alt="">
        </li>
      </ul>
      <ul class="partners__list slide">
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype6.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
      </ul>
      <ul class="partners__list slide">
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype6.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
        <li class="partners__list-item">
          <img src="{{ '/assets/img/logotype7.svg' | absolute_url }}" alt="">
        </li>
      </ul>
      <div class="carousel-btns partners__carousel-btns">
        <button class="carousel-btns__btn carousel-btns__btn_active"></button>
        <button class="carousel-btns__btn"></button>
        <button class="carousel-btns__btn"></button>
      </div>
    </div>
  </div>
</section>