<section class="consulting__container">
  <div class="partners__wrapper">
    <article>
      <h2 class="h2-title_consulting">Our partners</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
      <div class="partners__btn-group">
        <a href="#" class="btn btn_blue">Exchange</a>
        <a href="#" class="btn btn_blue">Industry</a>
      </div>
    </article>
    <div>
      <ul class="partners__list">
        <li class="partners__list-item">
          <img src="/assets/img/logotype6.svg" alt="">
        </li>
        <li class="partners__list-item">
          <img src="/assets/img/logotype7.svg" alt="">
        </li>
        <li class="partners__list-item">
          <img src="/assets/img/logotype8.svg" alt="">
        </li>
        <li class="partners__list-item">
          <img src="/assets/img/logotype9.svg" alt="">
        </li>
        <li class="partners__list-item">
          <img src="/assets/img/logotype10.svg" alt="">
        </li>
        <li class="partners__list-item">
          <img src="/assets/img/logotype11.svg" alt="">
        </li>
      </ul>
      <div class="partners__carousel-btns">
        <a href="#" class="carousel-btn"></a>
        <a href="#" class="carousel-btn carousel-btn_active"></a>
        <a href="#" class="carousel-btn"></a>
      </div>
    </div>
  </div>
</section>