<section id="team" class="consulting__container">
  <div class="team__wrapper">
    <div class="team__inner slide slide_visible">
      <div class="team__content team__title">
        <h2 class="h2-title_consulting">Team</h2>
      </div>
      <div class="team__content team__content-first">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Cindy Chase, CEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Colt Steele, CTO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Ana Larson, SEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
    </div>
    <div class="team__inner slide">
      <div class="team__content team__title">
        <h2 class="h2-title_consulting">Team</h2>
      </div>
      <div class="team__content team__content-first">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Cindy Chase, CEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Colt Steele, CTO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Ana Larson, SEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
    </div>
    <div class="team__inner slide">
      <div class="team__content team__title">
        <h2 class="h2-title_consulting">Team</h2>
      </div>
      <div class="team__content team__content-first">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Chase, CEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Colt Steele, CTO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
      <div class="team__content">
        <div class="team__photo">
          <img src="{{ '/assets/img/team-img.png' | absolute_url }}" alt="">
        </div>
        <article class="team__info">
          <h3 class="team__name">Ana Larson, SEO</h3>
          <p class="team__about">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          <span>
            <a class="team__social"><img src="{{ '/assets/icons/linkedin-blue.svg' | absolute_url }}" alt=""></a>
            <a class="team__social"><img src="{{ '/assets/icons/twitter-blue.svg' | absolute_url }}" alt=""></a>
          </span>
        </article>
      </div>
    </div>
    <div class="team__carousel-btns">
      <button class="carousel-btns__btn carousel-btns__btn_active"></button>
      <button class="carousel-btns__btn"></button>
      <button class="carousel-btns__btn"></button>
    </div>
  </div>
</section>