.footer {
  background-color: rgba($color: #E2EFDE, $alpha: .7);
  color: #2D2D2D;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 316px;
  }

  &__logo-n-social {
    text-align: center;
  }

  &__logo {
    margin-bottom: 28px;
  }

  &__social-link:first-child {
    margin-right: 28px;
  }

  &_consulting {
    background-color: #3891B3;
    color: #fff;
  }
}