.header {
  overflow: hidden;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  position: relative;

  &_consulting {
    background: url('../img/bg-consulting.png') no-repeat center right;
    background-size: cover;
    color: #fff;
    display: flex;
  }

  .header__wrapper_consulting {
    display: flex;
    justify-content: space-between;
  }
}