.header {
  overflow: hidden;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  position: relative;
}

.header__top {
  padding-top: 63px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_consulting {
  background: url('../img/bg-consulting.png') no-repeat center right;
  background-size: cover;
  color: #fff;
  display: flex;
}

.header__wrapper_consulting {
  display: flex;
  justify-content: space-between;
}

.header__left-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 143px;
}