.explore-section {
  line-height: 27px;
  font-size: 20px;
  text-align: justify;
}

.explore-section__text {
  padding-top: 12px;
}

.explore-section__types {
  display: flex;
  justify-content: space-between;
  padding: 70px 74px;
}