.section-idea {
  position: relative;
}

.section-idea > img {
  position: absolute;
  width: 730px;
  top: -120px;
  z-index: -2;
}

.section-idea__container {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 251px;
  text-align: justify;
}

.section-idea__video {
  flex-shrink: 0;
  width: 45%;
  margin-right: 65px;
}

.section-idea__video > video {
  width: 100%;
  border-radius: 30px;
}

.section-idea__h3 {
  font-size: 22px;
  color: #258700;
  margin-bottom: 1em;
  line-height: normal;
}

.section-idea__text {
  font-size: 20px;
}

.idea_consulting {
  background: url('../img/idea-section-bg.png') no-repeat center;
  background-size: cover;
  margin-bottom: 315px;
}

.idea_consulting__wrapper {
  border-left: 1px solid rgba($color: #fff, $alpha: .5);
  color: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
  font-family: 'Google Sans', sans-serif;
}

.idea_consulting__wrapper > article {
  border-left: 3px solid #fff;
  max-width: 843px;
  padding-left: 81px;
}

.idea_consulting__intro > p {
  font-weight: bold;
}

.idea_consulting__title {
  line-height: 69px;
  font-size: 60px;
  margin-bottom: 45px;
}

.idea_consulting__wrapper p {
  line-height: 31px;
  font-size: 22px;
  text-align: justify;
}