.registration {
  margin-bottom: 352px;
  background-image: url('../img/section-registration-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.registration > .education__container {
  position: relative;
  padding-bottom: 50px;

}

.registration__title {
  margin-bottom: 48px;
}

.registration__wrapper {
  background-color: rgba($color: #E2EFDE, $alpha: .7);
  border-radius: 20px;
  width: 1090px;
  padding: 89px 308px 38px 68px;
}

.registration__wrapper-title {
  padding-right: 120px;
  color: #0D4A59;
  font-family: 'Quicksand', sans-serif;
  line-height: 57px;
  font-size: 35px;
  margin-bottom: 24px;
}

.registration__wrapper-form > .input {
  margin-bottom: 12px;
}

.input {
  padding: 16px 34px;
  width: 100%;
  font-size: 20px;
  border: 2px solid #0D4A59;
  border-radius: 30px;
}

.registration__wrapper-form > p {
  text-align: justify;
  margin-bottom: 31px;
}

.registration__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.registration__btn {
  margin-top: 33px;
  margin-left: auto;
}