.main-page-footer {
  &__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1084px;
  }

  &__btn {
    color: #fff;
    line-height: 30px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 14px 0;
    display: block;
    width: 184px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__btn_education {
    color: #0D4A59;
    border: 3px solid #0D4A59;
    box-shadow: none;
    padding: 12px 0;
  }
}