.main-right {
  margin-right: 100px;
  padding-top: 143px;
  width: 50%;

  &__text {
    margin-bottom: 47px;
    padding-left: 268px;
    font-weight: 600;
    line-height: 35px;
    font-size: 20px;
    color: #0D4A59;
  }

  &__text_more {
    font-weight: normal;
  }
}

@media (max-width: 2150px) {
  .main-right {
    margin-right: 48px;
  }
}