.main-left {
  display: flex;
  width: 100%;
  margin-left: 147px;
  padding-top: 83px;

  &__text {
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    line-height: 46px;
    font-size: 43px;
    color: #fff;
    max-width: 394px;
    margin-left: auto;
    margin-right: -110px;
  }
}

.knowledge {
  font-size: 58px;
  line-height: 62px;
}