.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  padding: 13px 0;
  text-align: center;
  color: #2D2D2D;
  border: 3px solid #258700;
  border-radius: 40px;
  display: block;
  width: 184px;
  background-color: transparent;
  transition: .2s background-color;
}

.btn_black {
  border-color: #0D4A59;
}

.btn_white {
  border-color: #fff;
  color: #fff;
}

.btn_blue {
  color: #fff;
  border-color: #3891B3;
  background-color: #3891B3;
}

.btn_active
.btn:hover,
.btn:focus {
  background-color: rgba(37, 135, 0, .5);
  color: #fff;
}

.btn_black:hover,
.btn_black:focus {
  background-color: rgba($color: #0D4A59, $alpha: .5);
  color: #fff;
}

.btn_white:hover,
.btn_white:focus {
  background-color: rgba($color: #fff, $alpha: .5);
  color: #0D4A59;
}

.btn_blue:hover,
.btn_blue:focus {
  color: #3891B3;
  background-color: transparent;
}