.footer {

  &__contacts {
    width: 21%;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
  }

  &__contact {
    display: block;
  }

  &__contact-text {
    color: #258700;
    margin-bottom: 1em;
  }

  &__contact-text_consulting {
    color: #fff;
  }

  &__contact-link {
    font-weight: normal;
    color: #2d2d2d;
  }

  &__contact-link_consulting {
    color: #fff;
  }
}