.footer__contact {
  width: 21%;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}

.footer__contact > span {
  display: block;
}

.footer__contact > p {
  color: #258700;
  margin-bottom: 1em;
}

.footer__contact-link {
  font-weight: normal;
}