.nav-top {
  &_consulting {
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    padding: 0 15px;
    position: relative;
    color: #2d2d2d;

    &::after {
      content: '';
      position: absolute;
      top: 1.5em;
      left: calc(50% - 13px);
      display: block;
      width: 26px;
      border-top: 2px solid #258700;
      transition: .3s transform;
      transform: scale(0);
    }

    &_active {
      font-weight: bold;
    }

    &_consulting {
      color: #fff;

      &::after {
        border-top-color: #fff;
      }
    }
  }
}

.nav-top__item_active:after,
.nav-top__list>li:hover .nav-top__item:after,
.nav-top__list>li:focus .nav-top__item:after {
  transform: scale(1);
}