.header__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  line-height: 0;
}

.header__nav-item {
  padding: 0 15px;
  position: relative;
}

.header__nav-item_active {
  font-weight: bold;
}

.header__nav-item:after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: calc(50% - 13px);
  display: block;
  width: 26px;
  border-top: 2px solid #258700;
  transition: .3s transform;
  transform: scale(0);
}

.header__nav-item_active:after,
.header__nav > li:hover .header__nav-item:after,
.header__nav > li:focus .header__nav-item:after {
  transform: scale(1);
}