---
layout: default
---
<div class="main-page">
  <main class="main-wrapper">
    <div class="main-left">
      <a href="{{ site.url }}">
        <img src="{{ '/assets/img/logo-white.svg' | absolute_url }}" alt="Merklize">
      </a>
      <div class="main-left__text">
          The only source of <strong class="knowledge">KNOWLEDGE</strong><br> is experience.
      </div>
    </div>
    <div class="main-right">
      <div class="main-right__text">
        <span>Need consulting ? Or want to learn something new ?</span><br>
        <span class="main-right__text_more">We have all you need. Explore now! </span>
      </div>
      <img src="{{ '/assets/img/main-image.svg' | absolute_url }}" alt="Main image" width="982" height="640">
    </div>
  </main>
  <footer class="main-page-footer">
    <nav class="main-page-footer__nav">
      <a class="main-page-footer__btn" href="{{ '/education.html' | absolute_url }}">Education</a>
      <a class="main-page-footer__btn main-page-footer__btn_education" href="{{ '/consulting.html' | absolute_url }}">Consulting</a>
    </nav>
  </footer>
  <div class="main-circle"></div>
</div>





