* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  min-width: 1920px; // fallback
  min-width: fit-content; 
  //min-width: 320px;
}

div {
  display: block;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  color: inherit;
}

p {
  line-height: normal;
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}