* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  min-width: 1920px; // fallback
  min-width: fit-content;
  color: #2D2D2D;
  //min-width: 320px;
}

div {
  display: block;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  line-height: normal;
  font-size: 20px;
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}